.font-face-gm {
  font-family: "Segoe UI Bold";
 }

 body {
  font-family: "Segoe UI";
 }

.text-over-image {
  width: 60%;
}

/* .overlay {
  opacity: 90%;
} */

.navbar-bottom-border {
  border-color: #ffffff;
  border-style: solid;
  border-bottom-width: thin;
}

.shift-right {
  position:absolute;
  right: 124px;
}



.test {
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
}

button.rec-dot{
  visibility: hidden;
  /* background-color: rgb(235, 16, 16);
  box-shadow: 0 0 1px 3px rgba(235, 16, 16, 0.5); */
}

button.rec-dot:hover, button.rec-dot:active, button.rec-dot:focus  {
  visibility: hidden;

  /* box-shadow: 0 0 1px 3px rgba(235,16,16,0.5); */
}

.f-family{
  font-family: 'Segoe UI';
}

.selected-component {
  /* border:solid;
  width:350px; */
  margin:auto;
  border-bottom:none;
  background:linear-gradient(#ffffff,#ffffff) bottom /* left or right or else */ no-repeat;
  background-size:40% 2px;
}

.box{
  /* width: 100%;
  height: 100%;             */
  position: absolute;
  /* top: 0;
  left: 0; */
  opacity: 0.8;  /* for demo purpose  */
}
.stack-top{
  z-index: 9;
  /* margin: 20px; for demo purpose  */
}

.ro {
    -ms-transform: rotate(15deg); /* IE 9 */
    transform: rotate(15deg); /* Standard syntax */
}


.navbar1{
  background-color: transparent;
}

.navbar1.colorChange{
  background-color: #0080ff;
}

.colo {
  background-color: #0080ff!important;
}

#overlay {
  /* width: 100%;
  height: 100%; */
  /* background-color: blue; */
  z-index: -1;
  position:absolute;
  /* top:50px;
  left:50px; */
}

#originalDiv {
  /* width: 100px;
  height: 100px; */
  background-color: white;
  z-index: 1;
  position:absolute;
  /* top:0px;
  left:0px; */
}

ul.a {
  list-style-type: none;
}

ul#nav li a:active { background-color: transparent !important; }
.current{ color: #fe6928!important }

.wspace { 
  word-spacing: normal;
}

.tick-size{
  font-size: 20px !important;
}

.opaque { background-color: #333; }

.selected-component-mobile {
  margin: auto;
  border-bottom: none;
  background: linear-gradient(#ffffff,#ffffff) bottom /* left or right or else */ no-repeat;
  background-size: 10% 2px;
}