@font-face {
  font-family: "Segoe UI";
  src: local("Segoe UI"),
   url("./assets/fonts/segoe-ui-4/Segoe UI.ttf") format("truetype");
   font-weight: 700;
  }
  

  @font-face {
    font-family: "Segoe UI Bold";
    src: local("Segoe UI Bold"),
     url("./assets/fonts/segoe-ui-4/Segoe UI Bold.ttf") format("truetype");
     font-weight: 900
    }

@tailwind base;
@tailwind components;
@tailwind utilities;
